*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
img{
    width: 100%;
    height: 80vh;
}
@media(max-width:991px){
    img{
        width: 100%;
        padding-top: -100px;
        height:140px;
    }
}
section.tour{
    padding: 80px 15%;
}
.table1{

    padding-top: 50px;
}
table,td{
    text-indent: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 15px;
}
td{
    height: 50px;
}
.price{
    font-weight: 600;
    width: 150px;
    color: rgb(233, 162, 9);
}
.price1{
    font-weight:600;
    padding-left: 20px;
    width: 700px;
    color: rgb(194, 33, 33);
}
.span1{
    padding-left: 60px;
}
.span2{
    padding-left: 40px;
}
.manali{
    padding-top: 60px;
}
.manali h2{
    padding-top: 10px;
    color: rgb(140, 52, 52);
}
.manali p{
    padding-top: 15px;
}
.manali h3{
    padding-top: 20px;
}
.Itinerary{
    padding-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.Itinerary h1{
    color:aliceblue;
    background: rgb(223, 150, 16);
    width: 250px;
    height: 40px;
    text-indent: 10px;
    font-size: 30px;
}
.Itinerary .h3{
    margin-top: 30px;
    height: 40px;
    padding-top:10px;
    text-indent: 20px;
    color: white;
    background: rgb(33, 33, 79);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Itinerary p{
    padding-top: 20px;
}
.REMAINS{
    padding-top: 50px;
}
.REMAINS h1{
    color: red;
}
.REMAINS h2{
    padding-top: 20px;
}
.REMAINS p{
    padding-top: 20px;
}



/*------------------------------footer---------------------------------*/
section.footer{
    padding: 80px 9%;
    background:black;
 }
 .box-container{
    display: flex;
    justify-content: space-between;
 }
 .box{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .box h3{
    font-size: 20px;
    color:#fff;
 }
 .box a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
 }
 .box a:hover{
    color: green;
    
 }
 .credit{
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
    color: #fff;
 }
 .credit span{
    color: green;
 }
 
 

 